a:link {
    color: #056A8B;
}

a:visited {
    color: #056A8B;
}

a:hover {
/*background: #EEEEEE;*/
    color: #701515;
    text-decoration: underline;
}

body {
    background: #FFFFFF;
    color: #333333;
    font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

form#searchform {
    margin: 0;
    padding: 0;
    padding-right: 1em;
    text-align: right;
}
form#cse-search-box {
    margin: 0;
    padding: 0;
    padding-right: 1em;
    text-align: right;
}

h1 {
    font-size: 20px;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 16px;
}

h2, h4 {
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    color: #000000;
    font-family: Verdana, arial, helvetica, sans-serif !important;
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
}

h3 {
    font-size: 14px;
    font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
    background: #eee url( ../images/catshadow.png ) repeat-x left bottom !important;
    border-top: 1px solid #666;
    padding-left: 0;
    padding-bottom: 5px;
    margin: 0;
}

h3 span {
    padding: 0; /*margin: 1px;*/
    margin: 0px;
    padding: 1px;
    padding-left: 5px;
    background: #eee url( ../images/categorylogo.png ) no-repeat 99% center;
    display: block;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

h3 a {
    text-decoration: none;
}

h3 a:link {
    color: black;
    text-decoration: none;
}

h3 a:visited {
    color: #000000;
}

h3 a:hover {
    color: #701515;
    text-decoration: underline;
}

/* forms */
input, textarea, select {
    border: 1px solid black;
}

label, input {
    font-size: 12px;
}

ul {
    list-style: url( ../images/arrow.png ) square outside;
}

.img-shadow {
    background: url( ./images/shadowAlpha.png ) no-repeat bottom right !important;
    background: url( ./images/shadow.gif ) no-repeat bottom right;
    float: left;
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}

.img-shadow img {
    background-color: #FFFFFF;
    border: 1px solid #A9A9A9;
    display: block;
    margin: -6px 6px 6px -6px;
    padding: 4px;
    position: relative;
}

.menu {
    background-color: #F9A55A;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

.menu a {
    background: url( ../images/menuimg.png ) #E8E8E8 no-repeat 1px 50%;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-top: 1px solid #666666;
    color: #056A8B; /*background-color: white;*/
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    padding-left: 12px;
    text-decoration: none; /*color : #737373;*/
}

.menu div {
    margin-bottom: 7px;
}

p {
    padding: 5px;
}

#center {
    margin-left: 160px;
    padding-right: 5px;
}

#header {
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding-left: 5px;
}

#leftmenu {
    margin: 0;
    padding: 0; /*border: 1px solid #999;*/
    float: left; /*border: 1px solid; */
/*margin-top: 3px;*/
    width: 150px; /*background: #eee;*/
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

#leftmenu a {
    color: #333333;
    text-decoration: none;
    display: block;
}

#leftmenu a:hover {
    background: #CCCCCC;
}

table#leftmenu {
    margin-left: 5px; /*padding: 1px;*/
    width: 150px;
}

#leftmenu td {
    font-size: 11px;
    margin: 0;
    padding: 1px;
    padding-left: 15px;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    background: #fffefe url( ../images/tagimg.png ) no-repeat 5px 50%;
}

#leftmenu td:hover {
    background: #CCCCCC;
}

#main {
    font-size: 12px;
}

#search {
    margin: 0;
    padding: 1px;
}

#search input {
    border: 1px solid black;
}

#leftmenu td.category {
    margin: 0;
    padding: 0;
    border-top: 1px solid #F9A55A;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    color: white;
    font-weight: bold;
    background: #056A8B url( ../images/catshadow.png ) repeat-x left bottom !important;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 5px;
}

#leftmenu td.category span {
    margin: 0;
    padding: 0;
    display: block;
    padding-left: 15px; /*background: #056A8B url(../images/menuimg2.png) no-repeat 1px 50%;*/
    background: #A9A9A9 url( ../images/menuimg2.png ) no-repeat 1px 50%;
}

#leftmenu td.first {
/*background: white url(../images/catshadow.png) repeat-x left top;*/
/*border-top: 1px solid #aaa;*/
}

#leftmenu td.spacer {
    height: 2px;
    border: 0;
    margin: 0;
    border-top: 1px solid #666;
    background: white;
}

#leftmenu td.spacer:hover {
    background: white;
}

/* Struts Styles */

.wwgrp {
    margin-bottom: 1em;
}

.wwFormTable {
}

.label {
    font-style: italic;
    float: left;
    width: 30%
}

.errorLabel {
    font-style: italic;
    color: red;
}

.errorMessage {
    font-weight: bold;
    text-align: left;
    color: red;
}

.checkboxLabel {
}

.checkboxErrorLabel {
    color: red;
}

.required {
    color: red;
}

.searchbox {
    background-color: #BC2424;
}

.headerbox {
    background: url(../images/headerbg.png) repeat-x;
}

.menu {
    background: url(../images/headerbg-short.png) repeat-x bottom;
}