<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cn.loveapple.client.android.damtomo"
      android:versionCode="1"
      android:versionName="Review0.1">
	<uses-sdk android:minSdkVersion="11" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="DamtomoFacadeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DamtomoLoginActivity" android:label="@string/app_name" android:theme="@android:style/Theme.Dialog" />
    	<service android:name=".service.HttpService" android:label="@string/service_name_http" />
    </application>
</manifest>
